.card-content_main
  .card-content_main_text
    = "支払い方法"
  .card-content_main_top
    = "クレジットカード一覧"
  .card-content_main_box
    = link_to new_card_path do
      .card-content_main_box_btn
        .card-content_main_box_btn_icon
          .far.fa-credit-card
        .card-content_main_box_btn_text
          = "クレジットカードを追加する"
  .card-content_main_info
    = "支払い方法について"
    .fa.fa-chevron-right
