.header-area
  .header-area_top
    .header-area_top_icon
      = link_to root_path do
        = image_tag 'logo/logo.png', height: '100%'
    .header-area_top_search
      .header-area_top_search_form
        = 'キーワードから探す'
      .header-area_top_search_btn
        .header-area_top_search_btn_icon
          = image_tag 'icon/icon-search 1.png', height: '100%'
  .header-area_bottom
    .header-area_bottom_select
      .header-area_bottom_select_category
        = link_to '' do
          = 'カテゴリー'
      .header-area_bottom_select_brand
        = link_to '' do
          = 'ブランド'
    .header-area_bottom_user
      .header-area_bottom_user_login
        - if user_signed_in?
          = link_to 'ログアウト', destroy_user_session_path, method: :delete
        - else
          = link_to 'ログイン', user_session_path
      .header-area_bottom_user_new
        - if user_signed_in?
          = link_to 'マイページ', user_path(current_user)
        - else
          = link_to '新規会員登録', new_user_registration_path
