%nav.side-bar
  %ul.side-bar_list
    %li.side-bar_list-item-link
      = link_to "マイページ", user_path
      %i.fa.fa-chevron-right
    %li.side-bar_list-item
      = "下書き一覧"
      %i.fa.fa-chevron-right
    %li.side-bar_list-item
      = "出品した商品 - 出品中"
      %i.fa.fa-chevron-right
    %li.side-bar_list-item
      = "出品した商品 - 取引中"
      %i.fa.fa-chevron-right
    %li.side-bar_list-item
      = "出品した商品 - 売却済み"
      %i.fa.fa-chevron-right
    %li.side-bar_list-item
      = " 購入した商品 - 取引中"
      %i.fa.fa-chevron-right
    %li.side-bar_list-item
      = "購入した商品 - 過去の取引"
      %i.fa.fa-chevron-right
    %li.side-bar_list-item
      = "ニュース一覧"
      %i.fa.fa-chevron-right
    %li.side-bar_list-item
      = "ガイド"
      %i.fa.fa-chevron-right
    %li.side-bar_list-item
      = " お問い合わせ"
      %i.fa.fa-chevron-right

  %h1.side-nav-head 設定
  %ul.side-bar_list
    %li.side-bar_list-item
      = "プロフィール"
      %i.fa.fa-chevron-right
    %li.side-bar_list-item
      = "発送元・お届け先住所変更"
      %i.fa.fa-chevron-right
    %li.side-bar_list-item
      = "支払い方法"
      %i.fa.fa-chevron-right
    %li.side-bar_list-item
      = "メール/パスワード"
      %i.fa.fa-chevron-right
    %li.side-bar_list-item
      = "本人情報"
      %i.fa.fa-chevron-right
    = link_to card_user_path do
      %li.side-bar_list-item-link
        = "クレジットカード登録"
        %i.fa.fa-chevron-right
    = link_to logout_user_path do
      %li.side-bar_list-item-link
        = "ログアウト"
        %i.fa.fa-chevron-right