%h2 Sign up
= form_for(@user, url: user_registration_path) do |f|
  = render "devise/shared/error_messages", resource: @user
  
  .field
    = f.label :nickname
    %br/
    = f.text_field :nickname, autofocus: true, autocomplete: "nickname"

  .field
    = f.label :lastname
    %br/
    = f.text_field :lastname, autofocus: true, autocomplete: "nickname"

  .field
    = f.label :firstname
    %br/
    = f.text_field :firstname, autofocus: true, autocomplete: "nickname"

  .field
    = f.label :lastname_kana
    %br/
    = f.text_field :lastname_kana, autofocus: true, autocomplete: "nickname"

  .field
    = f.label :firstname_kana
    %br/
    = f.text_field :firstname_kana, autofocus: true, autocomplete: "nickname"

  .field
    = f.label :birthday
    %br/
    = f.date_select(:birthday, end_year:1900, autofocus: true, autocomplete: "nickname")

  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"

  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password"

  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"

  .actions
    = f.submit "Next"

= render "devise/shared/links"
