= render 'share/top-icon'

.registration
  .registration_title
    %h2 住所登録
  .registration_form
    = form_for @address do |f|
      = render "devise/shared/error_messages", resource: @address
      .registration-form_postal-code-box
        .form-title
          %span.box-form-explanaion
            郵便番号
          %span.indispensable
            必須
        = f.text_field :postal_code, autofocus: true, class: 'registration-form-field', placeholder: '例）123-1234', autocomplete: "postal_code"
      .registration-form_prefecture-box
        .form-title
          %span.box-form-explanaion
            都道府県
          %span.indispensable
            必須
        = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt:"--"}, {class: 'registration-form-field'}
      .registration-form_city-box
        .form-title
          %span.box-form-explanaion
            市区町村
          %span.indispensable
            必須
        = f.text_field :city, class: 'registration-form-field', placeholder: '例）港区', autocomplete: "city"
      .registration-form_street-box
        .form-title
          %span.box-form-explanaion
            番地
          %span.indispensable
            必須
        = f.text_field :street, class: 'registration-form-field', placeholder: '例）青山１−１−１', autocomplete: "street"
      .registration-form_building-box
        .form-title
          %span.box-form-explanaion
            建物名
          %span.indispensable_optional
            任意
        = f.text_field :building, class: 'registration-form-field', placeholder: '例）○○ビル 101号室', autocomplete: "building"
      .registration-form_phone-box
        .form-title
          %span.box-form-explanaion
            電話番号
          %span.indispensable_optional
            任意
        = f.text_field :phone, class: 'registration-form-field', placeholder: '例）012-345-6789', autocomplete: "phone"
      .actions
        = f.submit "登録する", class: "action"

.registration_footer
  = "©️FURIMA"
