%h2 会員情報入力２
= form_for @address do |f|
  .error_messages
    = render "devise/shared/error_messages", resource: @address
  
  .field
    .label
      = f.label :postal_code, '郵便番号'
    .text_field
      = f.text_field :postal_code, placeholder: "例) 123-4567", autofocus: true, autocomplete: "postal_code"

  .field
    .label
      = f.label :prefecture_id, '都道府県'
    .collection_select
      = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "--", autofocus: true, autocomplete: "prefecture_id"

  .field
    .label
      = f.label :city, '市区町村'
    .text_field
      = f.text_field :city, autofocus: true, autocomplete: "city"

  .field
    .label
      = f.label :street, '番地'
    .text_field
      = f.text_field :street, autofocus: true, autocomplete: "street"

  .field
    .label
      = f.label :building, 'マンション名・ビル名・部屋番号'
    .text_field
      = f.text_field :building, autofocus: true, autocomplete: "building"

  .field
    .label
      = f.label :phone, '電話番号'
    .text_field
      = f.text_field :phone, placeholder: "例) 000-1234-5678", autofocus: true, autocomplete: "phone"

  .actions
    = f.submit "登録"
