= render "share/header"

.wrapper
  = render "share/side"
  
  .logout
    .logout_btn
      = link_to "ログアウト", "#", class: "logout-btn"

= render "share/exhibit-btn"
= render "share/download-banner"
= render "share/footer"