= render "share/header"

.wrapper
  
  = render "share/side"
  
  .mypage
    .mypage_profile
      .mypage_profile_image
        = image_tag "mypage profile.png", width: "100%"
      .mypage_profile_icon
        = image_tag "icon/member_photo_noimage_thumb.png", width: "100%"
        .mypage_profile_name
          = @nickname
        .mypage_profile_item-length
          = "出品数 5"
    .news-content
      .news-content_message
        .news-content_message_text  
          事務局から個別メッセージ「ログイン通知」
          %i2.fa.fa-chevron-right
      .news-content_message
        .news-content_message_text
          まとめて出品して１万名にP3,000が当たる！
        %i2.fa.fa-chevron-right
      .news-content_message
        .news-content_message_text
          明日、5%還元クーポンの有効期限が切れます！
        %i2.fa.fa-chevron-right
      .news-content_message
        .news-content_message_text
          最大P1,000がもらえるキャンペーン開催中！
        %i2.fa.fa-chevron-right
      .news-content_message
        .news-content_message_text
          ポイントがもらえるキャンペーン開催中！
        %i2.fa.fa-chevron-right
        
    .purchase
      .purchase_text
        = "購入した商品"
      .purchase_info
        .purchase_info_dealing
          = "取引中"
        .purchase_info_purchased
          = "過去の取引"
      .purchase_detail
        = "取引中の商品がありません"

= render "share/exhibit-btn"
= render "share/download-banner"
= render "share/footer"