.exhibit-form
  = form_with model: @item, local: true do |f|
    - if item.errors.any?
      .exhibit-form_errors
        %h2= "#{item.errors.full_messages.count}件のエラーが発生しました。"
        %ul
          - item.errors.full_messages.each do |message|
            %li= message
    .image-container
      .image-container_box
        .form-title
          %span.box-form-explanaion
            商品画像
          %span.indispensable
            必須
        %p.image-container_box_message
          最大10枚までアップロードできます
        .image-container_box_alart-10
          ※ 1枚目は必須です
      .image-container_unit-man
        .item-image-container__unit.preview-0
          = f.fields_for :item_images do |i|
            .image-container__unit--guide
              %label{for: "image-label-0"}
                = i.file_field :image, class: 'img-man', id:"image-label-0",type: 'file'
                .have-image
                  %i.fas.fa-camera

    .explain-container
      .explain-container_name-box
        .form-title
          %span.box-form-explanaion
            商品名
          %span.indispensable
            必須
        = f.text_field :name, placeholder: "40文字まで", maxlength:"40", class: 'exhibit-form-field'
      .explain-container_text-box
        .form-title
          %span.box-form-explanaion
            商品の説明
          %span.indispensable
            必須
        = f.text_area :detail, maxlength:"1000", class: 'exhibit-form-detail', placeholder: '商品の説明 (最大 1000文字) (色、素材、重さ、定価、注意点など) 例) 2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。'
        .explain-container_text-box_info
          0/1000

    .detail-container
      %p.container-title 商品の詳細
      .box_form
        .form-title
          %span.box-form-explanaion
            カテゴリー
          %span.indispensable
            必須
        .form-select-category
          .form-select-category__option
            = f.collection_select :category_id, @category_parent, :id, :name, {prompt: "選択してください"}, class: 'form-select__option-box', id: 'parent_category'
      .box_form
        .form-title
          %span.box-form-explanaion
            ブランド
          %span.indispensable_optional
            任意
        = f.text_field :brand, placeholder: "例) シャネル", maxlength:"40", class: 'exhibit-form-field'
      .box_form
        .form-title
          %span.box-form-explanaion
            商品の状態
          %span.indispensable
            必須
        = f.collection_select :condition_id, Condition.all, :id, :name, {prompt:"選択してください"}, {class: 'exhibit-form-field'}

    .shipping-container
      %p.container-title 配送について
      .box_form
        .form-title
          %span.box-form-explanaion
            配送料の負担
          %span.indispensable
            必須
        = f.collection_select :shipping_cost_id, ShippingCost.all, :id, :name, {prompt:"選択してください"}, {class: 'exhibit-form-field'}
      .box_form  
        .form-title
          %span.box-form-explanaion
            配送の方法
          %span.indispensable
            必須
        = f.collection_select :shipping_method_id, ShippingMethod.all, :id, :name, {prompt:"選択してください"}, {class: 'exhibit-form-field'}
      .box_form
        .form-title
          %span.box-form-explanaion
            発送元の地域
          %span.indispensable
            必須
        = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt:"選択してください"}, {class: 'exhibit-form-field'}
      .box_form
        .form-title
          %span.box-form-explanaion
            発送までの日数
          %span.indispensable
            必須
        = f.collection_select :shipping_date_id, ShippingDate.all, :id, :name, {prompt:"選択してください"}, {class: 'exhibit-form-field'}

    .price-container
      %p.container-title 価格 (¥300~9,999,999)
      .calculation-box
        .selling-price-line
          .selling-form-title
            .form-title
              %span.box-form-explanaion
                販売価格
              %span.indispensable
                必須
          = f.number_field :price, placeholder: "0", min: 0, max: 9999999, class: 'exhibit-form_price' do
            %span.mark
              ¥
            .exhibit-form_right
        .commission-line
          .commission-line_left
            販売手数料 (10%)
          .commission-line_right
            ー
        .profit-line
          .profit-line_left
            販売利益
          .profit-line_right
            ー
      .price-box-btn
        = f.submit class: "price-box-btn_exhibit-btn" do
          nil
        = link_to "もどる", :back, class: "price-box-btn_back-btn"
