=render "share/header"
.show-item
  .show-item_nav
    = 'FRIMA >'
    = @category.parent.parent.name
    = ' > '
    = @category.parent.name
    = ' > '
    = @category.name
  .show-item_main
    .show-item_main_name
      = @item.name
    .show-item_main_img
      .show-item_main_img_main
        = image_tag @item.item_images.first.image.url, class: 'item-image'
      .show-item_main_img_sub
        - @item.item_images.each do |i|
          .show-item_main_img_sub_content
            = image_tag i.image.url, class: 'item-image'
    .show-item_main_price
      .show-item_main_price_value
        = "¥#{@item.price.to_s(:delimited)}"
      .show-item_main_price_cost
        - if @item.shipping_cost.id == 1
          = '(税込)送料込み'
        - elsif @item.shipping_cost.id == 2
          = '(税込)着払い'
        - else
          = ''
    .show-item_main_message
      = @item.detail
    .show-item_main_detail
      .show-item_main_detail_box
        .show-item_main_detail_box_header
          %table
            %tr
              %th 出品者
            %tr
              %th カテゴリー
            %tr
              %th ブランド
            %tr
              %th 商品の状態
            %tr
              %th 配送料の負担
            %tr
              %th 配送の方法
            %tr
              %th 発送元の地域
            %tr
              %th 発送日の目安
        .show-item_main_detail_box_data
          %table
            %tr
              %td
                = @item.user.nickname
            %tr
              %td
                = @category.parent.parent.name
                = ' > '
                = @category.parent.name
                = ' > '
                = @category.name
            %tr
              %td
                - if @item.brand.present?
                  = @item.brand
                - else
                  = 'なし'
            %tr
              %td
                = @item.condition.name
            %tr
              %td
                = @item.shipping_cost.name
            %tr
              %td
                = @item.shipping_method.name
            %tr
              %td
                = @item.prefecture.name
            %tr
              %td
                = @item.shipping_date.name
    - if @item.state == 1 && @item.user != current_user
      .show-item_main_buy
        = link_to new_item_buy_path(@item.id) do
          .show-item_main_buy_text
            = '購入画面に進む'
    - elsif @item.state == 2 && @item.user != current_user
      .show-item_main_sold-out
        = '売り切れました'
    - elsif @item.user == current_user
      .show-item_main_option
        = link_to edit_item_path do
          .show-item_main_edit
            = '編集'
        = link_to item_path, method: :delete do
          .show-item_main_destroy
            = '削除'
    - else
      = ''

  .show-item_comment
    .show-item_comment_form
      %label{for: "msg"}
      %textarea#msg{name: "user_message"}
    .show-item_comment_notice
      = '相手のことを考え丁寧なコメントを心がけましょう。'
      = '不快な言葉遣いなどは利用制限や退会処分となることがあります。'
    .show-item_comment_btn
      = link_to 'コメントする', "#", class: "cta-btn"

=render "share/exhibit-btn"
=render "share/download-banner"
=render "share/footer"