=render "share/header"
- @items.each do |item|
  .show-item
    .show-item_nav
      ="FRIMA  >  ベビー・キッズ  >  ベビー服(男女兼用) ~95cm  >  アウター  >  product3"
    .show-item_main
      .show-item_main_name
        = item.name
      .show-item_main_img
        .show-item_main_img_main
          = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", class: 'item-image'
        .show-item_main_img_sub
          .show-item_main_img_sub_content
            = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", class: 'item-image'
          .show-item_main_img_sub_content
            = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/14/a001.png", class: 'item-image'
          .show-item_main_img_sub_content
            = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/15/a003.png", class: 'item-image'
      .show-item_main_price
        .show-item_main_price_value
          = item.price
        .show-item_main_price_cost
          (税込み)送料込み
      .show-item_main_message
        = item.detail
      .show-item_main_detail
        .show-item_main_detail_box
          .show-item_main_detail_box_header
            %table
              %tr
                %th 出品者
              %tr
                %th カテゴリー
              %tr
                %th ブランド
              %tr
                %th 商品のサイズ
              %tr
                %th 商品の状態
              %tr
                %th 配送料の負担
              %tr
                %th 発送元の地域
              %tr
                %th 発送日の目安
          .show-item_main_detail_box_data
            %table
              %tr
                %td hoge
                  = link_to
              %tr
                %td ベビー・キッズ
              %tr
                %td
              %tr
                %td
              %tr
                %td 未使用に近い
              %tr
                %td 送料込み(出品者負担)
              %tr
                %td 岩手県
              %tr
                %td 4-7日で発送
    .show-item_comment
      .show-item_comment_form
        %label{for: "msg"}
        %textarea#msg{name: "user_message"}
      .show-item_comment_notice
        = '相手のことを考え丁寧なコメントを心がけましょう。'
        = '不快な言葉遣いなどは利用制限や退会処分となることがあります。'
      .show-item_comment_btn
        = link_to 'コメントする', "#", class: "cta-btn"

=render "share/exhibit-btn"
=render "share/download-banner"
=render "share/footer"