=render "share/header"
.show-item
  .show-item_nav
    ="FRIMA  >  ベビー・キッズ  >  ベビー服(男女兼用) ~95cm  >  アウター  >  product3"
  .show-item_main
    .show-item_main_name
      = @item.name
    .show-item_main_img
      .show-item_main_img_main
        //= image_tag @item.item_images.first,image.url class: 'item-image'
      .show-item_main_img_sub
        .show-item_main_img_sub_content
          = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", class: 'item-image'
        .show-item_main_img_sub_content
          = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/14/a001.png", class: 'item-image'
        .show-item_main_img_sub_content
          = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/15/a003.png", class: 'item-image'
    .show-item_main_price
      .show-item_main_price_value
        = "¥ #{@item.price.to_s(:delimited)}"
      .show-item_main_price_cost
        - if @item.shipping_cost.id == 1
          = '(税込)送料込み'
        - elsif @item.shipping_cost.id == 2
          = '(税込)着払い'
        - else
          = ""
    .show-item_main_message
      = @item.detail
    .show-item_main_detail
      .show-item_main_detail_box
        .show-item_main_detail_box_header
          %table
            %tr
              %th 出品者
            %tr
              %th カテゴリー
            %tr
              %th ブランド
            %tr
              %th 商品の状態
            %tr
              %th 配送料の負担
            %tr
              %th 配送の方法
            %tr
              %th 発送元の地域
            %tr
              %th 発送日の目安
        .show-item_main_detail_box_data
          %table
            %tr
              %td 
                = @item.user.nickname
                /お互いのテーブルを繋ぐ
            %tr
              %td 
                = link_to 'ベビーキッズ', "#", class: "a"
            %tr
              %td 
                - if @item.brand.present?
                  = @item.brand
                -else
                  ="なし"
            %tr
              %td
                = @item.condition_id
            %tr
              %td 
                = @item.shipping_cost_id
            %tr
              %td 
                = @item.shipping_method_id
            %tr
              %td 
                = link_to "岩手県", "#", class: "a"
            %tr
              %td 
                = @item.shipping_date_id
          
  .show-item_comment
    .show-item_comment_form
      %label{for: "msg"}
      %textarea#msg{name: "user_message"}
    .show-item_comment_notice
      = '相手のことを考え丁寧なコメントを心がけましょう。'
      = '不快な言葉遣いなどは利用制限や退会処分となることがあります。'
    .show-item_comment_btn
      = link_to 'コメントする', "#", class: "cta-btn"


=render "share/download-banner"
=render "share/footer"

